<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="User">

	<insert id="saveUser" parameterType="User">
		insert into user (name,email,sex)values(#{name},#{age},#{sex})
	</insert>

	<delete id="deleteById" parameterType="long">
		delete from t_demo where id=#{id}
	</delete>

	<update id="updateUser" parameterType="User">
		update t_demo set
		name=#{name},
		age=#{age},
		sex=#{sex}
		where id=#{id}
	</update>

	<select id="findById" parameterType="long" resultMap="UserMap">
		select * from t_demo where id=#{id}
	</select>
	<select id="findByName" parameterType="String" resultMap="UserMap">
		select * from t_demo where name=#{name}
	</select>
	<select id="findByLimit" parameterType="int" resultMap="UserMap">
		select * from t_demo limit 0,#{off}
	</select>

	<resultMap type="User" id="UserMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="age" column="age" />
		<result property="sex" column="sex" />
	</resultMap>

</mapper>